@{
    ViewBag.Title = "Trang chủ";
}
<link href="~/Content/HomeIndex.css" rel="stylesheet" />

<section class="content">
    <div class="row">
        @*Slidebar*@
        <div class="col-md-12 setnew">
            <div class="box box-solid">
                @*<div class="box-header with-border">
                    <h3 class="box-title">Top 5 sản phẩm bán chạy nhất</h3>
                </div>*@
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item">
                                <img src="~/Content/admin-lte/img/1.jpg" alt="First slide">
                                <div class="carousel-caption">

                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Content/admin-lte/img/2.jpg" alt="Second slide">
                                <div class="carousel-caption">

                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Content/admin-lte/img/3.jpg" alt="Third Slide">
                                <div class="carousel-caption">

                                </div>
                            </div>
                            <div class="item active">
                                <img src="~/Content/admin-lte/img/4.jpg" alt="Fourth Slide">
                                <div class="carousel-caption">

                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Content/admin-lte/img/5.jpg" alt="Fifth Slide">
                                <div class="carousel-caption">

                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        @*Danh mục nổi bật*@
        <div class="row">
            @*Mục1*@
            <div class="col-lg-4 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>10</h3>
                        <p>Laptop - Thiết bị IT</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <a href="~/SanPhams/Index/1" class="small-box-footer">
                        Xem thêm <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            @*Muc2*@
            <div class="col-lg-4 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>10<sup class="supdanhmuc2"></sup></h3>

                        <p>Máy ảnh - Máy quay phim</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <a href="~/SanPhams/Index/2" class="small-box-footer">
                        Xem thêm <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            @*Muc3*@
            <div class="col-lg-4 col-xs-12">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>10</h3>

                        <p>Ô Tô - Xe Máy - Xe Đạp</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-mobile-alt"></i>
                    </div>
                    <a href="~/SanPhams/Index/3" class="small-box-footer">
                        Xem thêm <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <!-- ./col -->
            @*Mục4
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>0</h3>
                        <p>Thời Trang</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-adjust"></i>
                    </div>
                    <a href="~/SanPhams/Index/4" class="small-box-footer">
                        Xem thêm <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>*@
            <!-- ./col -->
        </div>
    </div>
</section>
