
@{
    ViewBag.Title = "Quay Xổ Số";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="~/Content/QuayXoSo.css" rel="stylesheet" />
    <title>Hộ Sanh - Quay Xổ Số</title>
    <script src="~/Scripts/QuayXoSo.js"></script>
</head>
<body>
    <div class="div0605">
        <table id="page-wrap">

            <tr class="hang">
                <td class="oso" rowspan="3"><b>Nhập số của bạn</b></td>
                <td class="o1">
                    <input type="text" id="so1">
                </td>
            </tr>
            <tr class="hang">
                <td>
                    <input type="text" id="so2">
                </td>
            </tr>
            <tr class="hang">
                <td>
                    <input type="text" id="so3">
                </td>
            </tr>
            <tr class="o2">
                <td>
                    <button id="getit">
                        <b>QUAY</b>
                    </button>
                </td>
                <td class="o3" id="randomnumber4"><span></span></td>
            </tr>
            <tr class="result" >
                <td colspan="2" class="result1">
                    <div id="ketqua"></div>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
